<!--<app-diretiva-ngif></app-diretiva-ngif>-->
<!--<app-diretiva-ngswitch></app-diretiva-ngswitch>-->
<!--<app-diretiva-ngfor></app-diretiva-ngfor>-->
<!--<app-diretiva-ngclass></app-diretiva-ngclass>-->
<!--<app-diretiva-ngstyle></app-diretiva-ngstyle>-->
<!-- <app-operador-elvis></app-operador-elvis> -->
<!-- 
<div class="container">
  <app-diretiva-ng-content>
      Conteudo passado pelo componente.
      <app-operador-elvis></app-operador-elvis>
  </app-diretiva-ng-content> 
  <app-diretiva-ng-content>
    <div class="titulo">Titulo do painel passado</div>
    <div class="corpo">
      Conteudo passado pelo componente.
    </div>
  </app-diretiva-ng-content>
</div>
 -->
<app-diretivas-customizadas></app-diretivas-customizadas>